<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.training.mapper.InvoiceHeaderMapper">
    <resultMap id="invoiceHeaderMap" type = "com.hand.training.entity.InvoiceHeader">
        <id column="invoice_header_id" property="invoiceHeaderId"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="status" property="status"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="creation_date" property="creationDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <collection property="invoiceLines" ofType="com.hand.training.entity.InvoiceLine">
            <id column="invoice_line_id" property="invoiceLineId"/>
            <result column="invoice_header_id" property="invoiceHeaderId"/>
            <result column="item_number" property="itemNumber"/>
            <result column="item_description" property="itemDescription"/>
            <result column="unit_price" property="unitPrice"/>
            <result column="quantity" property="quantity"/>
            <result column="line_total_amount" property="totalAmount"/>
            <result column="line_remark" property="remark"/>
            <result column="creation_date" property="creationDate"/>
            <result column="created_by" property="createdBy"/>
            <result column="last_updated_by" property="lastUpdatedBy"/>
            <result column="last_update_date" property="lastUpdateDate"/>
        </collection>
    </resultMap>

    <insert id="create" parameterType="com.hand.training.entity.InvoiceHeader">
        INSERT INTO invoice_header (invoice_header_id, invoice_number, status, invoice_type, total_amount, remark)
        VALUES (#{invoiceHeaderId}, #{invoiceNumber}, #{status}, #{invoiceType}, 0, #{remark});
    </insert>

    <update id="update" parameterType="com.hand.training.entity.InvoiceHeader">
        UPDATE invoice_header
        SET
            status = #{status},
            invoice_type = #{invoiceType},
            total_amount = (
                SELECT SUM(il.total_amount)
                FROM invoice_line il
                WHERE il.invoice_header_id = invoice_header.invoice_header_id
            ) ,
            remark = #{remark},
            last_update_date = NOW()
        WHERE invoice_header_id = #{invoiceHeaderId}
        AND del_flag = 0;
    </update>

    <update id="updatePrice" parameterType="long">
        UPDATE invoice_header
        SET
        total_amount = (
        SELECT SUM(il.total_amount)
        FROM invoice_line il
        WHERE il.invoice_header_id = invoice_header.invoice_header_id
        ),
        last_update_date = NOW()
        WHERE invoice_header_id = #{id}
        AND del_flag = 0;
    </update>

    <select id="list" resultMap="invoiceHeaderMap">
        SELECT
            ih.invoice_header_id, ih.invoice_number, ih.status, ih.invoice_type, ih.total_amount,
            il.invoice_line_id, il.item_number, il.item_description, il.unit_price, il.quantity, il.total_amount AS line_total_amount
        FROM invoice_header ih
        LEFT JOIN invoice_line il ON ih.invoice_header_id = il.invoice_header_id
        WHERE ih.del_flag = 0
        <trim prefix="AND">
            <if test="status != '' and status != null">
                ih.status = #{status}
            </if>
            <if test="type != null and type != ''" >
                ih.invoice_type = #{type}
            </if>
        </trim>
        ORDER BY ih.invoice_header_id
        <if test="#{limit} != 0">
            LIMIT #{offset},#{limit}
        </if>
    </select>

    <select id="detail" resultMap="invoiceHeaderMap">
        SELECT
        ih.invoice_header_id, ih.invoice_number, ih.status, ih.invoice_type, ih.total_amount,
        il.invoice_line_id, il.item_number, il.item_description, il.unit_price, il.quantity, il.total_amount AS line_total_amount, ih.remark , il.remark AS line_remark
        FROM invoice_header ih
        LEFT JOIN invoice_line il ON ih.invoice_header_id = il.invoice_header_id
        WHERE ih.invoice_header_id = #{id} AND ih.del_flag = 0
    </select>

    <update id="remove">
        UPDATE invoice_header SET del_flag = 1
        WHERE invoice_header.invoice_header_id = #{id}
    </update>
</mapper>